<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501589424932-bpfdt1h59t8nh3ecmjsmb8d6t92v00un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501589424932-bpfdt1h59t8nh3ecmjsmb8d6t92v00un</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>501589424932-8s34p3chqnc29dtupv3l730kntsdk05v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC09BD1f9sKAEa24wEwLLZDFmfTj2kjV8E</string>
	<key>GCM_SENDER_ID</key>
	<string>501589424932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.robjvan.librarianFrontend</string>
	<key>PROJECT_ID</key>
	<string>librarianapp</string>
	<key>STORAGE_BUCKET</key>
	<string>librarianapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501589424932:ios:4fb2c5ad27aef06dc311b1</string>
	<key>DATABASE_URL</key>
	<string>https://librarianapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>